body{
    font-family: Roboto;
    font-size: 16px;
    margin: 0;
}
.header-fix{
    height: 85px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}
.header-container{
    width: 1024px;
    margin: auto;
}
.container{
    width: 1024px;
    margin: 84px auto 10px;
    border-radius: 5px round;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    padding: 10px;
}
article{
    text-align: justify;

}
.marginTop50{
    margin-top: 50px;
}
.marginBot20{
    margin-bottom: 20px;
}
.code{
    padding: 10px;
    font-size: 12px;
    background-color: white;
    color: blue;
}
pre.pre{
    text-align: left;
    background-color: white;
    padding:10px;
}
pre.pre code{
    padding: 0px;
}
div.content{
    width: 72%;
    text-align: center;
}
nav{
    width: 100%;
    text-align: right;
}
nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
nav ul li{
    margin-left: 20px;
    text-align: center;
}
nav ul li a{
    float: left;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #597aed;
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #1226ed;
    color: white;
}

footer{
    font-size: 0.8em;
}